<!DOCTYPE html>
<html>
  <head>
    <title>8ο Σύστημα Αεροπροσκόπων Χίου</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="shortcut icon" href="/images/8th_system_logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/cc178605cc.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/animate.min.css">
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/fontawesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style-home.css">
    <link rel="stylesheet" href="/styles/style-layout.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="main-body">
      <nav class="navbar5">
        <a href="#home" title="Αρχική Σελίδα" class="green_area animate__animated animate__slideInDown"><i class="fas fa-home"></i>
        </a>
        <div class="dropdown5">
          <button class="dropbtn animate__animated animate__slideInDown">Τι είναι... 
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
            <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπισμός</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτές</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δίκτυο</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ε.Κ.Σ.</a>
          </div>
        </div> 
        <div class="dropdown5">
          <button class="dropbtn animate__animated animate__slideInDown">Το Σύστημα 
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
            <a href="#" class="animate__animated animate__bounceInLeft">Ιστορία</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Στέγαση</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόροι</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Τραγούδι</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Throwbacks</a>
          </div>
        </div>
        <div class="dropdown5">
          <button class="dropbtn animate__animated animate__slideInDown">Δράσεις 
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
            <a href="#" class="animate__animated animate__bounceInLeft">Αγέλης</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ομάδας</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτών</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δικτύου</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόρων</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Συστήματος</a>
          </div>
        </div>
        <div class="dropdown5">
          <button class="dropbtn animate__animated animate__slideInDown">Χρήσιμα 
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
            <a href="#" class="animate__animated animate__bounceInLeft">Ανακοινώσεις</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Στολή</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δελτίο Υγείας</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δήμος</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Σ.Ε.Π.</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπικό Πρατήριο</a>
          </div>
        </div>
        <div class="dropdown5">
          <button class="dropbtn animate__animated animate__slideInDown">Συχνές ερωτήσεις 
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
            <a href="#" class="animate__animated animate__bounceInLeft">Πως θα γίνεις Πρόσκοπος</a>
          </div>
        </div>
        <div class="dropdown5">
          <button class="dropbtn animate__animated animate__slideInDown">Εμπιστευτικά 
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
            <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
          </div>
        </div>
        <a href="#" class="animate__animated animate__slideInDown">Επικοινωνία</a>
      </nav>
      <nav class="navbar6 animate__animated animate__slideInDown" >
        <a href="#" style="background-color: rgb(0, 128, 0); display: block; border-bottom: 2px solid red; border-top: 2px solid red;"><i class="fas fa-home"></i></a>
        <div>
          <button class="dropbtn2">Τι είναι... <i class="fas fa-arrow-alt-circle-down"></i></button>
          <div class="dropdown-content2">
            <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπισμός</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτές</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δίκτυο</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ε.Κ.Σ.</a>
          </div>
        </div>
        <div>
          <button class="dropbtn2">Το Σύστημα... <i class="fas fa-arrow-alt-circle-down"></i></button>
          <div class="dropdown-content2">
            <a href="#" class="animate__animated animate__bounceInLeft">Ιστορία</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Στέγαση</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόροι</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Τραγούδι</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Throwbacks</a>
          </div>
        </div>
        <div>
          <button class="dropbtn2">Δράσεις <i class="fas fa-arrow-alt-circle-down"></i></button>
          <div class="dropdown-content2">
            <a href="#" class="animate__animated animate__bounceInLeft">Αγέλης</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ομάδας</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτών</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δικτύου</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόρων</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Συστήματος</a>
          </div>
        </div>
        <div>
          <button class="dropbtn2">Χρήσιμα <i class="fas fa-arrow-alt-circle-down"></i></button>
          <div class="dropdown-content2">
            <a href="#" class="animate__animated animate__bounceInLeft">Ανακοινώσεις</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Στολή</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δελτίο Υγείας</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Δήμος</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Σ.Ε.Π.</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπικό Πρατήριο</a>
          </div>
        </div>
        <div>
          <button class="dropbtn2">Συχνές ερωτήσεις <i class="fas fa-arrow-alt-circle-down"></i></button>
          <div class="dropdown-content2">
            <a href="#" class="animate__animated animate__bounceInLeft">Πως θα γίνεις Πρόσκοπος</a>
          </div>
        </div>
        <div>
          <button class="dropbtn2">Εμπιστευτικά <i class="fas fa-arrow-alt-circle-down"></i></button>
          <div class="dropdown-content2">
            <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
            <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
          </div>
        </div>
        <a href="#" style="background-color: rgb(97,86,236); display: block; border-bottom: 2px solid red; border-top: 2px solid red;">Επικοινωνία</a>
      </nav>
      <script>
        let dropbtn2 = document.querySelectorAll(".dropbtn2");
        dropbtn2.forEach(element => {
              let sibling = element.nextElementSibling;
              let child = element.lastChild
              $(element).click(function () { 
                $(sibling).animate({
                  height:'toggle'
                })
                if (child.classList.value === "fas fa-arrow-alt-circle-down" || child.classList.value === "fas fa-arrow-alt-circle-down transitionDown") {
                  $(child).removeClass("transitionDown")
                  $(child).addClass("transitionUp")
                }else{
                  $(child).removeClass("transitionUp")
                  $(child).addClass("transitionDown")
                }
              });
          })
      </script>
      <h1 class="site-title">8<sup>ο</sup> Σύστημα Αεροπροσκόπων Χίου</h1>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/vue-router.js"></script>
    <script src="/dependencies/vue.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
