<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div class="page-image">
  <img src="/images/Home_Wallpaper.jpg" alt="8th system wallpaper" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h3 style="text-align: center; margin-top: 10px; border-bottom: 7px solid green; padding-bottom: 20px;">Καλωσήρθατε στη διαδικτυακή λέσχη μας!!!</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div id="home_cluster_1">
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Αγέλη</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ομάδα</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ανιχνευτές</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Δίκτυο</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Βαθμοφόρων</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Συστήματος</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Αγέλη</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ομάδα</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ανιχνευτές</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Δίκτυο</a></h5>
      </div>
      </div>
    </div>
    <div id="home_cluster_2">
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Αγέλη</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ομάδα</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ανιχνευτές</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Δίκτυο</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Βαθμοφόρων</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Συστήματος</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Αγέλη</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ομάδα</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ανιχνευτές</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Δίκτυο</a></h5>
      </div>
      </div>
    </div>
    <div id="home_cluster_3">
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Αγέλη</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ομάδα</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ανιχνευτές</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Δίκτυο</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Βαθμοφόρων</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Συστήματος</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Αγέλη</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ομάδα</a></h5>
      </div>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Ανιχνευτές</a></h5>
      </div>
      <div class="card">
        <img src="/images/placeholder_image_280x210.png" alt="placeholder image" loading="lazy">
        <div class="text_below_image">
        <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
        <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
        <h5><a href="#">#Δίκτυο</a></h5>
      </div>
      </div>
    </div>
      <div class="more_posts" id="more_posts_home">Περρισσότερες Δημοσιεύσεις</div>
    </div>

