
<style>
  .page-image img{
  width: 100%;
}
</style>
<div class="page-image">
  <img src="/images/Home_Wallpaper.jpg" alt="8th system wallpaper" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h3 style="text-align: center; margin-top: 10px; border-bottom: 7px solid green; padding-bottom: 20px;">Καλωσήρθατε στη διαδικτυακή λέσχη μας!!!</h3>
